body, .title, h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
}

.passengers-page .passengers {
    min-width: 777px;
}

.passengers-page {
    width: 777px;
    padding-top: 40px;
}

.passengers-page .remove-ticket {
    display: block;
}

/* todo copypaste*/
.clear-both:after {
    content: ".";    display: block;    height: 0;    clear: both;    visibility: hidden;
}

.btn-right {
    float: right;
}

.width-100 {
    width: 100%;
}