{namespace templates}
/**
 */
{template .emailFooter}
<tr>
    <td align="left" style="padding-top: 20px;font-size: 20px;line-height:28px;font-family:'Segoe UI','Segoe WP','Segoe UI Regular','Helvetica Neue',Helvetica,Tahoma,'Arial Unicode MS',Sans-serif;color:#454546" valign="top">
        Дякуємо Вам за довіру та приємних подорожей з <a href="http://www.ukraina-centr.com" style="color:#8bd61a;text-decoration:none" target="_blank">www.ukraina-centr.com</a>
    </td>
</tr>
{/template}